body{
  background: #000;
  padding-top: 10px;
} 

p{
  color: lime; 
  font-family: "Courier";
  font-size: 20px;
  margin: 10px 0 0 10px;
  overflow: hidden;
  max-width: 30em;
}

p a{
  color: hotpink;
  text-decoration: none;
  text-decoration: underline;
}
